<div class="grid grid-cols-1 gap-4 mx-auto px-10 py-10">
  <div class="flex mx-auto">
    <div class="relative">
      <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
      <input datepicker="" datepicker-buttons="" type="text" id="datepicker-input"
        class="bg-gray-50 border border-gray-300 text-slate-100 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-red-500 dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input"
        placeholder="Select date">
    </div>
    <form onsubmit="onGetData(event)">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-10 rounded mx-3">
        GET DATA
      </button>
    </form>
  </div>
  <div class="shadow-lg rounded-lg overflow-hidden p-100">
    <div class="flex justify-center py-3 px-5">
      <div class="container flex justify-center mx-auto">
        <div class="flex flex-col">
          <div class="w-full">
            <div class="border-b border-gray-200 shadow">
              <table>
                <thead class="bg-gray-50">
                  <tr>
                    <th class="px-6 py-2 text-lg text-gray-500">
                      Ngày
                    </th>
                    <th class="px-6 py-2 text-lg text-gray-500">
                      Upload
                    </th>
                    <th class="px-6 py-2 text-lg text-gray-500">
                      Download
                    </th>
                    <th class="px-6 py-2 text-lg text-gray-500">
                      Tổng data
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function onGetData(event) {
    event.preventDefault();
    const datepicker = document.querySelector('#datepicker-input');
    const date = datepicker.value;
    $.ajax({
      url: '/dashboard',
      type: 'POST',
      data: {
        date: date
      },
      success: function (data) {
        const dataTable = document.querySelector('tbody');
        while (dataTable.firstChild) {
          dataTable.removeChild(dataTable.firstChild);
        }
        dataTable.innerHTML = '';
        data.forEach(element => {
          let row = document.createElement('tr');
          row.classList.add('whitespace-nowrap');
          let date = document.createElement('td');
          date.classList.add('px-6', 'py-4', 'text-base', 'text-gray-500');
          let upload = document.createElement('td');
          upload.classList.add('px-6', 'py-4', 'text-base', 'text-gray-900');
          let download = document.createElement('td');
          download.classList.add('px-6', 'py-4', 'text-base', 'text-gray-900');
          let totalUse = document.createElement('td');
          totalUse.classList.add('px-6', 'py-4', 'text-base', 'text-gray-900');
          date.innerHTML = element.date;
          upload.innerHTML = element.upload + ' GB';
          download.innerHTML = element.download + ' GB';
          totalUse.innerHTML = element.totalUse + ' GB';
          row.appendChild(date);
          row.appendChild(download);
          row.appendChild(upload);
          row.appendChild(totalUse);
          dataTable.appendChild(row);
        });
      }
    });
  }
</script>